- var br = '<br />'
header.header-about-lp
  .text-about-lp
    h1 Примеры
      small
        | Landing!{br}
        i page
    p
     |Лендинг пейдж - это одностраничный сайт, который!{br}
     |идеально подходит, чтобы донести информацию до!{br}
     |целевой аудитории. Лендинги необходимы для!{br}
     |проведения кампаний в мобайле, когда основной!{br}
     |сайт заказчика не адаптивен.!{br}

    p Наличие мобильной ЛП позволяет пользователю!{br}
      |подробно изучить контент, а заказчику достигнуть!{br}
      |высоких медийных показателей в ходе РК.
  .img-block
    img(src='img/phone.png')
